<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.request.locale }}" > <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Centroamerica tan pequeña... tan grande...">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
        <title>LUMENUP::BASE SF2 PROJECT {% block title %} {% endblock %}</title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="google" value="notranslate">

        <!-- iOS icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/touch/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/touch/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/touch/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="/img/touch/apple-touch-icon-57x57-precomposed.png" />

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="/img/touch/ms-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#3372DF">

        <!-- Generic Icon -->
        <link rel="shortcut icon" href="/img/touch/touch-icon-57x57.png" />

        <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
        <!--
        <link rel="canonical" href="http://www.example.com/">
        -->

        <!-- Chrome Add to Homescreen -->
        <link rel="shortcut icon" sizes="196x196" href="/img/touch/touch-icon-196x196.png" />

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="App">

        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
         

        <div class="content">
            {% block body %}{% endblock %}
        </div>


        {% block scripts %}
            
            
            <script>
                var _locale = "{{ app.request.locale }}";
            </script>            
            
            {#    Configuracion de assetic de bundles que son opcionales. Descomentar si es requeido #}
            
{#            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
{#            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>#}
{#            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>#}
{#            <script src="/js/translations/messages/{{ app.request.locale }}.js"></script>#}
        
{#<!--            <script src="{{ url('bazinga_jstranslation_js') }}?locales={{ app.request.locale }}"></script>-->#}
            {{ getJavascripts() }}
        {% endblock %}
{#        @TODO Revisar esta implementacion con Jordan#}
        {% block customimports %}
            {{ getStylesheet() }}
        {% endblock %}
        
</body>
</html>
