{% extends 'SonataAdminBundle::layout.html.twig' %} 

{% block content %}
    <h1>Generar códigos de descuento</h1>
    <form method="POST" action="" class="form-horizontal" data-original="s5345ad0c7b4db%5Bcodigo%5D=&amp;s5345ad0c7b4db%5Btipo%5D=&amp;s5345ad0c7b4db%5Bpais%5D=&amp;s5345ad0c7b4db%5Bprefijo%5D=&amp;s5345ad0c7b4db%5Bcodigo_simple%5D=&amp;s5345ad0c7b4db%5Btag%5D=&amp;s5345ad0c7b4db%5B_token%5D=fe54c7a155b591c46887de78e1dc30dcb5ed644d">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#s5345ad0c7b4db_1">
                        <i class="icon-exclamation-sign has-errors hide"></i>
                        Generar códigos
                    </a>
                </li>
                {#<li class="">
                    <a data-toggle="tab" href="#s5345ad0c7b4db_2">
                        <i class="icon-exclamation-sign has-errors hide"></i>
                        Generar y enviar código
                    </a>
                </li>#}
            </ul>
            <div class="tab-content">
                <div id="s5345ad0c7b4db_1" class="tab-pane  active">
                    <fieldset>
                        <div class="sonata-ba-collapsed-fields">
                            <div id="sonata-ba-field-container-s5345ad0c7b4db_codigo" class="control-group">
                                <label for="cantidad" class="control-label required">
                                    Cantidad
                                    *
                                </label>
                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural  ">
                                    <input type="text" class="span5" maxlength="255" required="required" name="cantidad" id="codigo_cantidad" data-validator="numeric">
                                </div>
                            </div>
                            <div id="sonata-ba-field-container-s5345ad0c7b4db_codigo" class="control-group">
                                <label for="cantidad" class="control-label required">
                                    Tipo
                                    *
                                </label>
                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural  ">
                                    <select id="code_type">
                                        <option value="BASIC">BASIC</option>
                                        <option value="MEDIUM">MEDIUM</option>
                                        <option value="HIGHT">HIGHT</option>
                                        <option value="VIP">VIP</option>
                                    </select>
                                </div>
                            </div>
                            <div id="loader-container1" class="control-group" style='display:none'>
                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural  ">
                                    <img width="60px" src="/img/loader.gif"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="well well-small form-actions">
                        <input id="btn_generate_code" type="button" value="Generar" class="btn btn-primary">
{#                        <input id="btn_generate_and_export" type="button" value="Generar y exportar a excel" class="btn btn-primary">#}
                    </div>
                </div>
                <div id="s5345ad0c7b4db_2" class="tab-pane">
                    <fieldset>
                        <div class="sonata-ba-collapsed-fields">
                            <div id="sonata-ba-field-container-s5345ad0c7b4db_codigo" class="control-group">
                                <label for="cantidad" class="control-label required">
                                    Correo electrónico
                                    *
                                </label>
                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural  ">
                                    <input type="text" class="span5" maxlength="255" required="required" name="cantidad" id="txt_code_email" data-validator="numeric">
                                </div>
                            </div>
                            <div id="loader-containerMedicos" class="control-group" style='display:none'>
                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural  ">
                                    <img src="/img/loader2.gif"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="well well-small form-actions">
                        <input id="btn_send_code" type="button" value="Generar y enviar" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}